

Start adding styles. Start with basic styles that style the common tags. 
Start with a basic font and color applied to the body tag. 
Add a style for links. 
Add styles for headings. 
Remember headings and links will appear in the page header, and in the content, 
and you may want to style these differently. For now give them same, most common
style, later you can style the exceptions. 
Style the blockquote, strong, em, and other tags. 


/* All of the basic tags */

body {
	font-family: Helvetica;
	color: gray;
}

a {
	color: red;
}

a:visited {

}
a:hover {
	color:fuchsia;
}
a:active {

}

h1, h2, h3, h4, h5, h6 {

}

p {

}

blockquote { /* Style the blockquote - here's a few ideas. */
	font-size: 21px;
	color: #371616;
	position: relative;
	opacity: 0.5;
}

/* Use the :before selector to add an element "before" the blockquote content. 
Here I aded a curly quote. The content property sets the text that appears before! */
blockquote:before { 
  color: #371616;
  content: '\201C'; /* Make a curly left quote: http://monc.se/kitchen/129/rendering-quotes-with-css */
  font-family: Georgia;
  font-size: 46px;
  position: absolute;
  left: -30px;
}

blockquote:after { 
  color: #371616;
  content: '\201D';
  font-family: Georgia;
  font-size: 46px;
  position: absolute;
  bottom: 0;
}

strong {

}

em {

}


