Now its time to apply styles to exceptions. Style the page header, and other tags that 
dont follow your common styles. 

/* 
	Now time to style specific elements 
	Again here you may have to adjust selectors to fit your page structure and naming
	conventions. 
*/

/* Style your page header */
header h1>a {
	
}

/* Blog description */
header p {

}

/* post styles. Style  post elements that still need styles. 
IF you use the post_class(). The post container should have the class post.  */

/* Style post container */
.post {
	/* May be good to add some margin-bottom here to separate posts.  */
}

/* Use post descendant selector to style other elements within the post. */


/* style the more link */
/* You can customize the more link message by editing 
the_content( "Your Custom more link message" ) */
a.more-link {
	/* Style the more link. This is an anchor tag to do some things you may have to 
	set it's display style to block. */
	display: block;
	border-top: 3ps solid red;
	text-align: right;
}

/* You will have to customize the selectora to style the time/date, 
comments and categories. In my example files I used the class names:
*/

.post-time {

}

.post-categories {

}

.post-comments {

}








