Images will need some special styles. WP will add class names for alignment. You 
need to style these classes. 

.alignleft
.alignright
.aligncenter

Look at the example below. To get an idea what to do with this. 

The caption for an image will get a class name .wp-caption. You should style this also. 
Be sure to make an image with a caption! Without an example it would hard to style these. 
Might be good to make a few images with various options like alignment and captions. 


/* Time to style images in posts. You can set the sizes for images in the admin panel. 
Look under Settings>Media. You can use the styles below as is, but you may want to change 
the margin to fit your layout. */

img.alignright {
	float:right; 
	margin:0 0 1em 1em
}

img.alignleft {
	float:left; 
	margin:0 1em 1em 0
}

img.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.alignright {
	float:right; 
}

.alignleft {
	float:left; 
}

.aligncenter {
	display: block; 
	margin-left: auto; 
	margin-right: auto
}

.wp-cation {
	
}

.wp-caption-text {
	
}

/* Don't forget to style the img tag. You can assign a border or  */

a img {
	border:0;
}

a:hover img { 
	border:solid red 1px; 
}

p img { 
	padding: 0; 
	max-width: 100%; 
}

/* Style the image with a caption. */
.wp-caption { 
	margin: 5px; 
	padding: 5px; 
	border: solid 1px #E5E5FF; 
	background: #E5F2FF; 
	font-size:90%; 
	color: black;
}

.wp-caption p {
	
}

.wp-caption p.wp-caption-text {
	
}


































